{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Best Cars Dealership</h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars dealership, your ultimate destination for top-quality vehicles in North America.
                Our commitment is to offer an extensive selection of both domestic and imported cars at prices that fit your budget.
            </p>
            </br>
            <p>
                Founded in 2003, Best Cars dealership transitioned from the trade side to the retail side of the automotive business.
                As a family-owned business spanning four generations and employing over 30 dedicated staff members, we take pride in our reputation for exceptional customer service.
                Over 50% of our business comes from loyal customers who continue to choose Best Cars for their automotive needs.
                We hold the title of a 'Highly Rated' Auto Trader dealer and a 'Top Rated' Car Gurus dealer.
                With a stock of over 180 cars covering a wide range of types, models, and styles, we provide a comprehensive automotive experience.
                Our purpose-built workshop, valet bay, and 'smart' repair center ensure that your vehicle receives top-notch care.
                Our experienced staff brings over 130 years of combined knowledge and experience in the motor industry.
            </p>
            </br>
            <p>
                In 2009, Best Cars gained fame when our vehicles were featured in the filming of "The Fast and The Furious."
                With car prices ranging from £3,000 to £150,000, we maintain a diverse inventory of over 180 cars.
                If you can't find what you're looking for, our team is dedicated to helping you locate the perfect vehicle.
                We specialize in providing financing options (subject to status) for all credit ratings, working with major companies and specialist brokers.
                Need a warranty? We offer up to 4 years of Trading Standards Approved warranty on the majority of our stock, supported by repair centers across the UK.
            </p>
            </br>
            <p><a style="color:black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">Get in touch with us today!</a></p>
    </div>    
{% endblock %}