{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="heading-txt text-center mt-5 mb-4">Contact</h1>
        <div class="row justify-content-around">
            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-header">Customer Care</div>
                    <div class="card-body">
                        <h5 class="card-title">Michael F. Mann</h5>
                        <p class="card-text">
                            Mobile: 413-737-34689 <br>
                            Email: michael@dealership.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-header">Lead Salesman</div>
                    <div class="card-body">
                        <h5 class="card-title">Bobby B. Grosse</h5>
                        <p class="card-text">
                            Mobile: 125-678-892 <br>
                            Email: bobby@dealership.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card text-white bg-dark">
                    <div class="card-header">Customer Care</div>
                    <div class="card-body">
                        <h5 class="card-title">Justin Fields</h5>
                        <p class="card-text">
                            Mobile: 557-844-332 <br>
                            Email: justin@dealership.com
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card text-white bg-dark">
                    <div class="card-header">Visiting Address</div>
                    <div class="card-body">
                        <h5 class="card-text">Best Cars HQ</h5>
                        <p class="card-text">
                            Sidewinder Avenue 369, Austin, TX, US <br>
                            Phone: 0037-214-35476 <br>
                            Email: info@dealership.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
